<section>
    <div>
        <h1>Aplicación Express de Gonzalo Zorrilla</h1>
        <h2>Lista de Quizzes</h2>
        <ul>
            <% 
                //Esta ciclo permite dibujar los quizzes
                quizzes.forEach(function(quizzes) { %>
                <li>
                    <%= quizzes.question %>: <%= quizzes.answer %> 
                </li>
            <% }); %>
        </ul>

    </div>
</section>