<section>
    <div>
        <h1><%= title %></h1>
        <p> <b> Nombre de Autor de la Practica:</b> Gonzalo Zorrilla</p>
        <img src="/images/avatar.png" alt="Gonzalo Zorrilla" width="250">
        <h2>Información del autor</h2>
        <p>Gonzalo Zorrilla es apasionado de la programación, el cine y la lectura. También le gusta escribir</p>
        <h2>Información del portal</h2>
        <p>Este portal está diseñado para probar los conocimientos para realizar desarrollo fullstack</p>


    </div>
</section>